body {
  padding: 0;
  margin: 0;
  background-color: cornflowerblue;
}


.navbar{
    float: 1;
    padding: 20px;
    background-color: cornsilk;
}

                                                                                                                                                                                                                                                    

